<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.ConsumerMapper">
  <resultMap id="BaseResultMap" type="com.app.entity.Consumer">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="consumer_id" jdbcType="VARCHAR" property="consumerId" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="key_consumer" jdbcType="VARCHAR" property="keyConsumer" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="jwt_token" jdbcType="VARCHAR" property="jwtToken" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, consumer_id, created_at, key_consumer, secret, username, jwt_token, app_name
  </sql>
  <select id="selectByExample" parameterType="com.app.entity.ConsumerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from consumer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consumer
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from consumer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.app.entity.ConsumerExample">
    delete from consumer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.app.entity.Consumer">
    insert into consumer (id, consumer_id, created_at, 
      key_consumer, secret, username, 
      jwt_token, app_name)
    values (#{id,jdbcType=VARCHAR}, #{consumerId,jdbcType=VARCHAR}, #{createdAt,jdbcType=VARCHAR}, 
      #{keyConsumer,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{jwtToken,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.app.entity.Consumer">
    insert into consumer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="consumerId != null">
        consumer_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="keyConsumer != null">
        key_consumer,
      </if>
      <if test="secret != null">
        secret,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="jwtToken != null">
        jwt_token,
      </if>
      <if test="appName != null">
        app_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="consumerId != null">
        #{consumerId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=VARCHAR},
      </if>
      <if test="keyConsumer != null">
        #{keyConsumer,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="jwtToken != null">
        #{jwtToken,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.app.entity.ConsumerExample" resultType="java.lang.Long">
    select count(*) from consumer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update consumer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerId != null">
        consumer_id = #{record.consumerId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=VARCHAR},
      </if>
      <if test="record.keyConsumer != null">
        key_consumer = #{record.keyConsumer,jdbcType=VARCHAR},
      </if>
      <if test="record.secret != null">
        secret = #{record.secret,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.jwtToken != null">
        jwt_token = #{record.jwtToken,jdbcType=VARCHAR},
      </if>
      <if test="record.appName != null">
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update consumer
    set id = #{record.id,jdbcType=VARCHAR},
      consumer_id = #{record.consumerId,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=VARCHAR},
      key_consumer = #{record.keyConsumer,jdbcType=VARCHAR},
      secret = #{record.secret,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      jwt_token = #{record.jwtToken,jdbcType=VARCHAR},
      app_name = #{record.appName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.app.entity.Consumer">
    update consumer
    <set>
      <if test="consumerId != null">
        consumer_id = #{consumerId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=VARCHAR},
      </if>
      <if test="keyConsumer != null">
        key_consumer = #{keyConsumer,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        secret = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="jwtToken != null">
        jwt_token = #{jwtToken,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.app.entity.Consumer">
    update consumer
    set consumer_id = #{consumerId,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=VARCHAR},
      key_consumer = #{keyConsumer,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      jwt_token = #{jwtToken,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>